* {
    padding: 0;
    margin: 0;

}

.navbar {
    background-color: blueviolet;
    width: 100%;
    height: 40px;
    color: white;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

ul {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}



@media screen and (max-width:900px) and (min-width:600px) {
    .navbar {
        display: block;
        background-color: aquamarine;
    }

}